extends layout

block content
  .content
    .login-container
      .login-box
        h1 Login
        form.pure-form.pure-form-stacked(action="/login", method="POST")
          .input-group
            label(for="email") Email
            input(type="email", id="email", name="email", placeholder="Digite seu e-mail")
          .input-group
            label(for="password") Senha
            input(type="password", id="password", name="password", placeholder="Digite sua senha")
          .input-group
            button(type="submit") Entrar
        p.registrar Não tem uma conta?
          a(href="/register") Registre-se
