@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
    line-height: 1.7em;
    font-size: 1.1em;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

header,
footer {
    background: #b42d2d;
    text-align: center;
    padding: 1em 0;
    color: white;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.pure-menu-link {
    color: white;
}

.pure-menu-link:hover {
    background: white;
    color: #991a1a;
}

header .pure-menu,
footer .footer-content {
    max-width: 800px;
    margin: auto;
}

header a,
footer a {
    text-decoration: none;
}

main {
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pure-form input[type] {
    border: 2px solid #a70202;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
}

.pure-button,
.pure-button-primary,
.button-container a {
    background-color: #d61f1f;
    color: white;
    padding: 1em 2em;
    border-radius: 5px;
    text-decoration: none;
    width: auto;
    margin: 1em;
    font-size: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container a:hover {
    background: #e4d8d8;
    color: #bd0000;
}

.is-center {
    text-align: center;
}

.content {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    color: red;
}
.error-message {
    color: red; /* Cor da mensagem de erro */
    margin-bottom: 15px; /* Espaçamento inferior */
}

.card-produtos,
.card-produtos-home {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.card-produto,
.card-produto-home {
    background-color: #942e2e;
    padding: 1em;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    color: white; /* Adiciona cor ao texto da card-produto-home */
}

.card-produto {
    width: 400px;
    height: auto;
}

.card-produto-home {
    width: 400px;
    height: auto;
}

.card-produto h3,
.card-produto h4 {
    color: white;
}

.card-produto p {
    color: #decece;
    font-size: 16px;
}

.card-produto:hover,
.card-produto-home:hover {
    transform: scale(1.05);
}

